
#footer{
    text-align: center;
    border: 1px solid #DDD;
    margin: 0 auto;
    color:  green;
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
